.container {
    background-image: url("../../assets/images/banner-1.JPG");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.overlay {
    padding: 100px 50px;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.text {
    max-width: 1000px;
    text-align: center;
    font-size: 25px;
    font-style: italic;
    color: var(--white);
    text-shadow: 0 0 2px black;
}

@media (max-width: 800px) {
    .overlay {
        padding: 50px 20px;
    }
}
