.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.data {
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--lightGreen);
}

.dataInfo {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.dataInfoTitle {
    font-size: 30px;
    font-weight: 900;
    font-family: var(--secondary);
}

.dataInfoText {
    max-width: 500px;
}

.dataInfoButton {
    align-self: flex-start;
    padding: 10px;
    font-weight: 600;
    background-color: var(--white);
    border: 2px solid var(--brown);
    transition: 0.3s;
}

.dataInfoButton:hover {
    cursor: pointer;
    color: var(--green);
    background-color: var(--brown);
}

.image {
    max-height: 550px;
    box-shadow: -2px -2px 10px var(--shadow);
}

.image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

@media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
    }
    .data {
        padding: 50px 20px;
    }
    .dataInfoTitle {
        font-size: 20px;
    }
    .dataInfoText {
        max-width: none;
    }
    .image {
        max-height: 300px;
    }
}
