.container {
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    background-color: var(--brown);
}

.heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.headingTitle {
    text-align: center;
    font-size: 30px;
    font-weight: 900;
    font-family: var(--secondary);
    color: var(--white);
}

.headingText {
    text-align: center;
    color: var(--green);
}

.data {
    max-width: 1000px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}

.dataList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    list-style-type: none;
    padding-left: 0;
}

.dataListElement {
    position: relative;
    padding-left: 20px;
    color: var(--white);
}

.dataListElement::before {
    content: "*";
    color: var(--green);
    position: absolute;
    left: 0;
    top: 0;
    font-size: 3em;
    line-height: 1;
}

.dataImages {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50% 50%;
    gap: 10px;
}

.dataImagesImage {
    border-radius: 15px;
    box-shadow: -2px 2px 5px rgb(25, 25, 25);
}

.dataImagesImage img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
}

@media (max-width: 1024px) {
    .container {
        padding: 50px 20px;
        gap: 20px;
    }
    .headingTitle {
        font-size: 20px;
    }
}

@media (max-width: 480px) {
    .data {
        grid-template-columns: 1fr;
    }
}
