.container {
    padding: 90px;
    display: flex;
    justify-content: center;
    background-color: var(--white);
}

.card {
    max-width: 1200px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: var(--brown);
    border: 10px solid var(--white);
    outline: 20px solid var(--brown);
}

.data {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.dataName {
    font-family: var(--secondary);
    font-size: 30px;
    color: var(--green);
}

.dataInfo {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.dataInfoSection {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.dataInfoSectionTitle {
    color: var(--lightGreen);
}

.dataInfoSectionListElement {
    color: var(--white);
}

.dataInfoSectionListElement::marker {
    color: var(--green);
}

.images {
    float: right;
    display: flex;
    flex-direction: column;
}

.imagesImage {
    padding: 20px;
}

.imagesImage img {
    width: 100%;
    height: 100%;
}

@media (max-width: 1024px) {
    .container {
        padding: 40px;
    }
    .dataName {
        font-size: 20px;
    }
}

@media (max-width: 768px) {
    .container {
        padding: 20px;
    }
    .card {
        grid-template-columns: 1fr;
    }
    .images {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 480px) {
    .images {
        display: flex;
        flex-direction: column-reverse;
    }
}
