.container {
    position: relative;
}

.video {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}

.overlay {
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    background-color: rgba(0, 0, 0, 0.5);
}

.logo {
    width: 100%;
    max-width: 500px;
}

.logo img {
    width: 100%;
}

.slogan {
    max-width: 800px;
    text-align: center;
    font-family: var(--secondary);
    font-size: 20px;
    font-weight: 800;
    color: var(--white);
}

.title {
    max-width: 800px;
    text-align: center;
    font-family: var(--secondary);
    font-size: 20px;
    font-weight: 800;
    color: var(--green);
}

@media (max-width: 834px) {
    .overlay {
        padding: 50px 20px;
    }
}
