.container {
    background-image: url("../../assets//images/header.jpg");
    background-size: cover;
    background-position: center;
}

.overlay {
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: rgba(0, 0, 0, 0.5);
}

.logo {
    width: 100%;
    max-width: 500px;
}

.logo img {
    width: 100%;
}

.slogan {
    max-width: 800px;
    text-align: center;
    font-family: var(--secondary);
    font-size: 20px;
    font-weight: 800;
    color: var(--white);
}

@media (max-width: 834px) {
    .overlay {
        padding: 50px 20px;
    }
}
