.container {
    padding: 50px;
    display: flex;
    justify-content: center;
    background-color: var(--lightGreen);
    box-shadow: 0 0 10px black;
}

.content {
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.title {
    text-align: center;
    font-family: var(--secondary);
    font-size: 30px;
    font-weight: 800;
}

.blocks {
    display: flex;
    flex-direction: column;
}

.blocks .blocksBlock:nth-child(1),
.blocks .blocksBlock:nth-child(3) {
    text-align: right;
}

.blocksBlock {
    display: flex;
    align-items: center;
    gap: 50px;
}

.blocksBlockText {
    font-style: italic;
}

.blocksBlockImage {
    min-width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 0 0 10px var(--shadow);
}

.blocksBlockImage img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}

@media (max-width: 1024px) {
    .container {
        padding: 50px 20px;
    }
    .content {
        gap: 20px;
    }
    .title {
        font-size: 20px;
    }
    .blocks {
        gap: 20px;
    }
    .blocksBlock {
        gap: 30px;
    }
    .blocksBlockImage {
        min-width: 150px;
        height: 150px;
    }
}

@media (max-width: 480px) {
    .blocks {
        gap: 30px;
    }
    .blocksBlock {
        display: flex;
        flex-direction: column;
    }
    .blocks .blocksBlock:nth-child(1),
    .blocks .blocksBlock:nth-child(3) {
        flex-direction: column-reverse;
    }
    .blocksBlockImage {
        width: 250px;
        height: 250px;
    }
}
