.container {
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    background-color: var(--white);
}

.title {
    font-family: var(--secondary);
    font-size: 30px;
    font-weight: 800;
}

.safaris {
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.safari {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 20px;
}

.safariImages {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.safariImagesImage {
    width: 100%;
    height: 100%;
    box-shadow: -2px 2px 5px var(--shadow);
}

.safariImagesImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.safariData {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.safariDataTitle {
    font-size: 25px;
    font-weight: 800;
    color: var(--green);
}

.safariDataOptions {
    text-decoration: underline;
}

.safariDataInfo {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.safariDataInfoSection {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.safariDataInfoSectionTitle {
    font-size: 20px;
    font-weight: 800;
}

.safariDataList {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.safariDataListTitle {
    font-weight: 800;
    text-decoration: 2px underline;
}

.safariDataListList {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.safariDataListListElement::marker {
    font-weight: 800;
    color: var(--green);
}

.safariDivisor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.safariDivisor hr {
    width: 100%;
    border: 1px solid var(--brown);
}

.safariDivisor svg {
    font-size: 70px;
}
