.container {
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    background-color: var(--white);
}

.titles {
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.titlesTitle {
    text-align: center;
    font-size: 30px;
    font-family: var(--secondary);
    font-weight: 900;
}

.titlesSubtitle {
    text-align: center;
}

.data {
    display: flex;
    gap: 50px;
}

.dataList {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style-type: none;
    padding-left: 0;
}

.dataList li {
    position: relative;
    padding-left: 20px;
}

.dataList li::before {
    content: "*";
    color: var(--green);
    position: absolute;
    left: 0;
    top: 0;
    font-size: 3em;
    line-height: 1;
}

.images {
    max-width: 1200px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 250px 250px;
    gap: 10px;
}

.imagesImage {
    box-shadow: -2px 2px 5px var(--shadow);
}

.imagesImage img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: bottom;
}

.imagesCarousel {
    margin-bottom: 30px;
    width: 100%;
    height: 250px;
    overflow: hidden;
    box-shadow: 0 0 10px var(--shadow);
}

.imagesCarouselBig {
    display: flex;
    width: 600%;
    height: 100%;
}

.imagesCarouselBigImage {
    width: calc(100% / 6);
    height: 100%;
    transition: 0.3s;
}

.imagesCarouselBigImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.imagesCarouselNavbar {
    position: absolute;
    width: calc(100% - 40px);
    padding: 10px 0;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.imagesCarouselNavbar svg {
    font-size: 30px;
    border-radius: 50%;
}

.imagesCarouselNavbar svg {
    cursor: pointer;
}

.text {
    max-width: 1000px;
    text-align: center;
    font-style: italic;
    font-weight: 900;
    color: var(--green);
}

@media (max-width: 768px) {
    .container {
        padding: 50px 20px;
    }
    .titlesTitle {
        font-size: 20px;
    }
}

@media (max-width: 600px) {
    .data {
        flex-direction: column;
        gap: 10px;
    }
    .images {
        grid-template-columns: 1fr;
    }
}
