:root {
    --brown: #6c584c;
    --lightBrown: #a98467;
    --green: #adc178;
    --lightGreen: #dde5b6;
    --white: #f0ead2;
    --shadow: #777777;
    --primary: "Raleway", sans-serif;
    --secondary: "Great Vibes", cursive;
}
