:root {
    --brow: #6c584c;
    --lightBrown: #a98467;
    --green: #adc178;
    --lightGreen: #dde5b6;
    --white: #f0ead2;
    --primary: "Great Vibes", cursive;
    --secondary: "Raleway", sans-serif;
}
